html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
}
h1 {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 28px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: lowercase;
	font-variant: small-caps;
	margin-bottom: 50px;
	margin-left: 50px;
	letter-spacing: 0.2em;
	color: #ffffff;
}

.text{
	font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	margin-top: 10px;
	letter-spacing: 0.3em;
	color: #333333;
}

.bg{
	width: 100%;
	height:300%;	
	position: fixed;
	z-index: -1;
	background: url(../images/ontheroad.jpg); 
}

#wrapper{
	width:100%;
}

#logo{
	z-index: 10;  
	width: 220px;
	height: 100px;
	position: fixed;
}
#logoInner{
	position: relative;
	margin:auto;
	width: 100px;
}
#logo:hover  {
    opacity: .7;     
    -moz-transition: all 0.1s ease-out;  /* FF4+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.1s ease-out;  /* IE10? */
    transition: all 0.1s ease-out;  
}
#content{
	width:100%;
	min-width:300px;
	max-width: 1100px;
	float:left;
	padding-left: 220px;
}

#section1{
	padding-top: 50px;
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	background-color: red;
}
#section2{
	width: 100%;
	top: 650px;
	height: 100%;
	position: relative;
	display: block;
}
#section3{
	width: 100%;
	height: 100%;
	top: 1200px;
	position: relative;
	display: block;
}


/*   ///////////////////////////  navigation  ///////////////////////////   */

.arrow_up {
    z-index: 10;
    border: 1px solid white;
    opacity: .9;  
	width: 40px;
	height: 40px;
	position: fixed;
	float: right;
	left:100%;
	top:100px;
	margin-left: -61px;
}
.arrow_down {
    z-index: 10;
    border: 1px solid white;
    opacity: .9;  
	width: 40px;
	height: 40px;
	position: fixed;
	float: right;
	left:100%;
	top:160px;
	margin-left: -61px;
}
.arrow_top {
    z-index: 10;
    border: 1px solid white;
    opacity: .9;  
	width: 40px;
	height: 40px;
	position: fixed;
	float: right;
	left:100%;
	top:93%;
	margin-left: -61px;
}

.arrow_up:hover, 
.arrow_down:hover,
.arrow_top:hover {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.3);
    -moz-transition: all 0.1s ease-out;  /* FF4+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.1s ease-out;  /* IE10? */
    transition: all 0.1s ease-out;  
	}


/*   ///////////////////////////  software  ///////////////////////////   */

#software{
	padding-left: 50px;
	float: left;
	height: 100%;
}
#circleIllustrator{
	width: 150px;
	height: 150px;
	left: 200px;
	-webkit-animation-delay: .5s;
}
#circleinDesign{
	width: 150px;
	height: 150px;
	left: 350px;
	-webkit-animation-delay: .7s;
}
#circlePhotoshop{
	width: 150px;
	height: 150px;
	left: 200px;
	-webkit-animation-delay: .2s;
}
#circleAfterEffects{
	width: 80px;
	height: 80px;
	left: 70px;
	-webkit-animation-delay: .35s;
}
#circleSublime{
	width: 100px;
	height: 100px;
	left: 500px;
	-webkit-animation-delay: .45s;
}
#circleMaya{
	width: 60px;
	height: 60px;
	top: 150px;
	left: 500px;
	-webkit-animation-delay: .45s;
}
#circleDreamweaver{
	width: 60px;
	height: 60px;
	left: 100px;
	-webkit-animation-delay: .2s;
}


.circles{
	background-color: white;
	position: relative;
	opacity: 0;	
	border-radius: 50%;
}
.skills{
	-webkit-animation-name: softwareCircles;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}


@-webkit-keyframes softwareCircles{
	0%{
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
	12%{
		opacity: .5;		
		-webkit-transform: scale(2, 2);
	}
	23%{
		opacity: .5;
		-webkit-transform: scale(1.5, 1.5);
	}
	37%{
		opacity: .5;
		-webkit-transform: scale(2, 2);
	}
	50%{
		opacity: .5;
		-webkit-transform: scale(1.8, 1.8);
	}
	65%{
		opacity: .5;
		-webkit-transform: scale(2, 2);
	}
	100%{
		opacity: .5;
		-webkit-transform: scale(2, 2);
	}
}



#textIllustrator{
	left: 200px;
	margin-top: 20px;
	-webkit-animation-delay: .5s;
}
#textinDesign{
	left: 360px;
	margin-top: 170px;
	-webkit-animation-delay: 1s;
}
#textPhotoshop{
	margin-top: 380px;
	left: 200px;
	-webkit-animation-delay: .8s;
}
#textAfterEffects{
	left: 30px;
	margin-top: -90px;
	-webkit-animation-delay: .9s;
}
#textSublime{
	margin-top: 505px;
	left: 520px;
	-webkit-animation-delay: .8s;
}
#textMaya{
	margin-top: -12px;
	left: 510px;
	-webkit-animation-delay: .8s;
}
#textDreamweaver{
	margin-top: 275px;
	left: 78px;
	-webkit-animation-delay: .7s;
}

.softwareText{
	position: absolute;
	z-index: 10;
	-webkit-animation-name: softwareTextAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes softwareTextAnimation{
	0%{top: 0px; opacity: 0;}
	15%{top:200px; opacity: 1;}
	23%{top: 180px;}
	37%{top: 200px;}
	50%{top: 190px;}
	65%{top: 200px;}
	100%{top:200px;	opacity: 1;}
}

/*   ///////////////////////////  specialties  ///////////////////////////   */


#specialtiesContainer{
	padding-left: 50px;
	float: left;
	height: 100%;
}
#barsContainer{
	width: 80%;
	height: 100%;
	float: left;
	position: absolute;	
}
#bar1{-webkit-animation-delay: .4s;}
#bar2{-webkit-animation-delay: .2s;}
#bar3{-webkit-animation-delay: .1s;}
#bar4{-webkit-animation-delay: .3s;}
#bar5{-webkit-animation-delay: .4s;}
#bar6{-webkit-animation-delay: .2s;}
#bar7{-webkit-animation-delay: .1s;}
#bar8{-webkit-animation-delay: .3s;}

.bars{opacity:0;}
.barsAnimation{
	height: 30px;
	background-color: white;
	margin-bottom: 10px;
	-webkit-animation-name: barsAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes barsAnimation{
	0%{
		opacity: 0;
		width: 0%;
	}
	12%{
		opacity: 0.4;
		width: 100%;
	}
	23%{
		width: 90%;
	}
	37%{
		width: 100%;
	}
	50%{
		width: 95%;
	}
	65%{
		width: 100%;
	}
	100%{
		opacity: .4;
		width: 100%;
	}
}




#graphContainer{
	width: 80%;
	height: 100%;
	position: absolute;
	float: left;
}
#graph1Container{
	width: 75%;
	margin-bottom: 10px;
}
#graph1{
	-webkit-animation-delay: .5s;	
}
#graph2Container{
	width: 85%;
	margin-bottom: 10px;
}
#graph2{
	-webkit-animation-delay: .3s;	
}
#graph3Container{
	width: 85%;
	margin-bottom: 10px;
}
#graph3{
	-webkit-animation-delay: .2s;	
}
#graph4Container{
	width: 65%;
	margin-bottom: 10px;
}
#graph4{
	-webkit-animation-delay: .4s;	
}
#graph5Container{
	width: 68%;
	margin-bottom: 10px;
}
#graph5{
	-webkit-animation-delay: .5s;	
}
#graph6Container{
	width: 60%;
	margin-bottom: 10px;
}
#graph6{
	-webkit-animation-delay: .3s;	
}
#graph7Container{
	width: 85%;
	margin-bottom: 10px;
}
#graph7{
	-webkit-animation-delay: .2s;	
}
#graph8Container{
	width: 90%;
	margin-bottom: 10px;
}
#graph8{
	-webkit-animation-delay: .4s;	
}



#textBox{
	z-index: 100;
	color: black;
	float: left;
	margin-left: 30%;
	margin-right: 2%;
	width: 100%;
}

.specialtiesText{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 8px;
	opacity: 0;
	z-index: 10;
	text-align: right;
	-webkit-animation-name: specialtiesTextAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes specialtiesTextAnimation{
	0%{top:0;}
	60%{opacity: 1;}
	100%{opacity: 1;}
}


/*   ///////////////////////////  skills  ///////////////////////////   */

#skillsContainer{
	
}	

#circleCSS{
	top: 200px;
	width: 150px;
	height: 150px;
	left: 100px;
	-webkit-animation-delay: .2s;
}
#circleHTML{
	top: 175px;
	width: 200px;
	height: 200px;
	left: 250px;
	-webkit-animation-delay: .3s;
}
#circlejQuery{
	top: 225px;
	width: 100px;
	height: 100px;
	left: 510px;
	-webkit-animation-delay: .4s;
}
.skillsCircle{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 50%;
	position: absolute;
	opacity: 0;
	-webkit-animation-name: skillsCircles;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes skillsCircles{
	0%{
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
	12%{
		opacity: 1;
		-webkit-transform: scale(1.8, 1.8);
	}
	23%{
		-webkit-transform: scale(1.3, 1.3);
	}
	37%{
		-webkit-transform: scale(1.8, 1.8);
	}
	50%{
		-webkit-transform: scale(1.6, 1.6);
	}
	65%{
		-webkit-transform: scale(1.8, 1.8);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1.8, 1.8);
	}
}


#textCSS{
	top: 80px;
	left: 210px;
	-webkit-animation-delay: .2s;
}
#textHTML{
	top: 80px;
	left: 430px;
	-webkit-animation-delay: .4s;
}
#textJQ{
	top: 80px;
	left: 630px;
	-webkit-animation-delay: .3s;
}
.skillsText{
	position: absolute;
	color: white;
	z-index: 10;
	-webkit-animation-name: skillsTextAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes skillsTextAnimation{
	0%{top:0;}
	15%{top: 200px; opacity: 1;}
	23%{top: 180px;}
	37%{top: 200px;}
	50%{top: 185px;}
	65%{top: 190px;}
	100%{top:190px; opacity: 1;}
}

