html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	color: #666;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
	}
body {
}
h1 {
	color: #9C3;
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#FFF;
	outline: none;
	text-decoration:none;
	}
a:hover {
	color:#9C3;
	}
img { 
	display:block;
	}


/*text format
**************************************************/

.title{
	color: #333333;
	font: 20px "Lucida Grande", Tahoma;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.1em;
	text-align: center;
	padding-top: 100px;
}
.text{
	color: #333333;
	font-size: 11px;
	padding: 70px 0 100px 0;
}
.paragraph{
	padding: 10px 0 10px 0;
}
@media only screen and (max-width: 800px) {
	.paragraph {
		padding: 10px 10px 10px 10px;
	}
}

/*page structure
**************************************************/

#wrapper{
	width: 800px;
	margin: 0 auto 0 auto;
}
@media only screen and (max-width: 800px) {
	#wrapper {
		width: 100%; 
	}
}

/****************** loader **********************/

.modal {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     50%;
    width:      50%;
}
/****************** main menu **********************/


.footer{
	margin: 50px auto 100px auto;
	height: 40px;
	width: 250px;
}


#workContainer{
	width: 100%;	
}



/*works containers*******************************/
.artwork {
	display: block;
}


/*loader*******************************/
#loader{
	margin: auto;
	border: 1px solid #ccc;
	width: 500px;
	height: 500px;
	overflow: hidden;
}
#loader.loading{
	background: #fff url(images/loader.gif) no-repeat center center;
		}



/*navigation*******************************/
.grid {
	top:50px;
	left: 0px;
	position: fixed;
	background-color: #cccccc;
	padding: 10px 5px 10px 5px;
	opacity: .5;
}
.arrow_left {
	left: 0px;
	top:110px;
	background-color: #cccccc;
	position: fixed;
	padding: 10px 5px 10px 5px;
	opacity: .5;
}
.arrow_right {
	top:170px;
	left: 0px;
	position: fixed;
	background-color: #cccccc;
	padding: 10px 5px 10px 5px;
	opacity: .5;
}
.arrow_right:hover, 
.arrow_left:hover,
.grid:hover{
	opacity: .3;
}


