html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	color: #666;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a, a:link,
a:hover,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#333333;
	outline: none;
	text-decoration:none;
}


/*text format
**************************************************/

.title{
	color: #333333;
	font: 20px "Lucida Grande", Tahoma;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.1em;
	text-align: center;
	padding-top: 100px;
}
.text{
	color: #333333;
	font-size: 12px;
	padding: 70px 0 70px 0;
}
.paragraph{
	padding: 10px 0 10px 0;
}
@media only screen and (max-width: 800px) {
	.paragraph {
		padding: 10px 10px 10px 10px;
	}
}


/*page structure
**************************************************/

#wrapper{
	width: 800px;
	margin: 0 auto 0 auto;
}
@media only screen and (max-width: 800px) {
	#wrapper {
		width: 100%; 
	}
}

#workContainer{
	width: 100%;	
}


/*works containers*******************************/
.artwork {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*loader*******************************/
#loader{
	margin: auto;
	border: 1px solid #ccc;
	width: 500px;
	height: 500px;
	overflow: hidden;
}
#loader.loading{
	background: #fff url(images/loader.gif) no-repeat center center;
}

.modal {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     50%;
    width:      50%;
}



/*navigation*******************************/
.grid {
	top:50px;
	left: 0px;
	position: fixed;
	background-color: #666666;
	padding: 10px 5px 10px 5px;
	opacity: .7;
}
.arrow_left {
	left: 0px;
	top:110px;
	background-color: #666666;
	position: fixed;
	padding: 10px 5px 10px 5px;
	opacity: .7;
}
.arrow_right {
	top:170px;
	left: 0px;
	position: fixed;
	background-color: #666666;
	padding: 10px 5px 10px 5px;
	opacity: .7;
}
.arrow_right:hover, 
.arrow_left:hover,
.grid:hover{
	opacity: .3;
}


/*footer*******************************/
.footer{
	margin: 80px auto 30px auto;
	padding-top: 30px;
}
ul.footer{
	border-top: solid #000000 1px; 
	margin: 0 auto 0 auto;
	text-align: center;
}
ul.footer li{
	display: inline;
	padding: 0 20px 0 20px;
	font: 12px "Lucida Grande", Tahoma;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-weight: lighter;
	letter-spacing: 0.3em;
	line-height: 45px;
}
